.btn
  border: 0
  line-height: 3.125
  padding: 0 1.3em
  transition: 175ms background-color ease-in
  &[disabled=disabled]
    background-color: #e3e3e3
    &:hover
      background-color: #e3e3e3
  &.btn-xs
    font-size: 12px
    padding: 0 0.65em
    line-height: 2.35
