.form-control
  border-width: 2px
  &:focus
    box-shadow: none

.form-group.has-error
  .form-control
    background-color: #f6e9e7
    color: #a86666
    &:focus
      background-color: $btn-default-color

select.form-control
  background: $btn-default-bg image-url("rockstrap/dropdown-arrow.png") no-repeat right 50%
  background-size: 40px auto
  box-shadow: 1px 1px 1px rgba(#000, 0.2)
  -webkit-appearance: button
  vertical-align: middle
  border: 0
  color: $btn-default-color
  overflow: hidden
  white-space: nowrap
  padding: 0 3em 0 1.3em
  line-height: 2.9125
  box-sizing: border-box
  &.multiple
    background-image: none
    padding: 0 1.3em
