nav.header
  @extend .navbar
  @extend .navbar-default
  position: fixed
  width: 100%
  height: 55px
  border-radius: 0
  margin-bottom: 0
  border-width: 0 0 1px 0
  z-index: 99

  .logo
    @extend .navbar-brand
    img
      height: 25px
    .light
      display: none
    .dark
      display: block

  .navbar-header
    > h2
      float: left
      margin: 0
      padding: 13px 0 0
      font-size: 1.5em
      span
        font-size: 0.5em

  #apps
    float: right

  &.dark
    background-color: #333333
    border-color: darken(#333, 20%)
    color: white
    .navbar-toggle
      .icon-bar
        background-color: white
    .navigation
      .items
        li
          a, a:focus, a:hover
            color: white
    .logo
      .dark
        display: none
      .light
        display: block

  .navigation
    @extend .navbar-collapse
    @extend .collapse
    @extend .navbar-right
    background: #f8f8f8
    .items
      @extend .nav
      @extend .navbar-nav
      font-size: 13px
      li a:hover
        text-decoration: underline
