$sidebar-color-bg: $brand-primary !default
$sidebar-link-color: #333 !default
$sidebar-link-active-color: #fff !default
$sidebar-link-hover-color: #fff !default

.site-wrapper
  width: 100%
  height: 100%
  background-color: white
  overflow-x: hidden
  padding-top: 55px

.site-canvas
  position: relative
  transition: transform 200ms ease-in-out
  margin-left: 65px
  background-color: white
  backface-visibility: hidden

.sidebar-nav
  background-color: $sidebar-color-bg
  height: 100%
  left: 0
  overflow: hidden
  position: fixed
  width: 65px
  backface-visibility: hidden
  transition: width 200ms ease-in-out
  ul.sidebar
    margin: 10px 0 0
    overflow: hidden
    padding: 0
    width: 500px
  li
    position: relative
    margin: 0
    padding: 0
    display: block
    background-repeat: no-repeat
    background-position: 19px 20px
    background-size: 24px 24px
    opacity: 0.5
    a
      display: block
      padding: 10px 20px
      color: $sidebar-link-color
      text-decoration: none
      line-height: 20px
      vertical-align: middle
      text-transform: uppercase
      font-size: 0.8em
      font-weight: bold
      span.glyphicon
        margin-right: 20px
        font-size: 1.9em
        top: 5px
      &:hover
        color: $sidebar-link-hover-color

.site-wrapper.show-nav
  .site-canvas
    transform: translateX(195px)
  .sidebar-nav
    width: 260px

@media all and (max-width: 568px)
  .sidebar-nav
    width: 260px
    ul.sidebar
      li:after
        left: 250px !important

  .site-canvas
    margin-left: 0
  .site-wrapper.show-nav
    .site-canvas
      transform: translateX(260px)

%active-nav-item
  opacity: 1
  a
    color: $sidebar-link-active-color
  &:after
    content: ""
    color: $sidebar-link-active-color
    display: inline-block
    position: absolute
    left: 55px
    top: 33%
    z-index: 10000
    border-right: 10px solid white
    border-top: transparent 10px solid
    border-bottom: transparent 10px solid
    height: 0
    transition: left 200ms ease-in-out

%active-nav-item-hovered
  &:after
    left: 250px

ul.sidebar.dashboard-show li.dashboard-show,
ul.sidebar.adcasts-new li.adcasts-new,
ul.sidebar.adcasts-create li.adcasts-create,
ul.sidebar.adcasts-edit li.adcasts-edit,
ul.sidebar.adcasts-update li.adcasts-update
  @extend %active-nav-item

.sidebar-nav:hover
  ul.sidebar.dashboard-show li.dashboard-show,
  ul.sidebar.adcasts-new li.adcasts-new,
  ul.sidebar.adcasts-create li.adcasts-create,
  ul.sidebar.adcasts-edit li.adcasts-edit,
  ul.sidebar.adcasts-update li.adcasts-update
    @extend %active-nav-item-hovered
