= rockstrap_header 'Rockstrap'

.container
  .row
    .col-sm-12
      %h2 Typography
      %h1 This is a first heading.
      %h2 This is a secondary heading.
      %h3 This is a third heading.

      %p=link_to "Standard link text", "#"
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tempor vitae dui vel congue. Nam pulvinar ligula at tortor rhoncus pulvinar venenatis ac nulla. Suspendisse feugiat nisl diam, ac fringilla lectus commodo nec. Quisque commodo malesuada nunc ut lobortis. Nunc a enim vel risus mattis varius id id magna. Maecenas faucibus nibh ut metus varius interdum. Phasellus massa magna, dapibus accumsan magna eget, pretium iaculis risus. Morbi mi elit, vulputate sit amet ultricies quis, dictum id felis. Ut adipiscing leo nec enim fringilla, ac tincidunt nunc mattis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

      %h3 Typography modifiers
      %ul.list-unstyled
        %li
          %code .text-left, .text-right, .text-center, .text-justify
        %li
          %code .text-white, text-dark, .text-thin, .text-normal

  .row
    .col-xs-12
      %h2 Buttons [default]
      =link_to "This is a button", "#", class: "btn btn-default"
      =link_to "Disabled button", "#", class: "btn btn-default", disabled: "disabled"
      %h2 Buttons [xs]
      =link_to "This is a button", "#", class: "btn btn-default btn-xs"
      =link_to "Disabled button", "#", class: "btn btn-default btn-xs", disabled: "disabled"
      %h2 Button group
      .btn-group
        =link_to "This is a button", "#", class: "btn btn-default"
        =link_to "This is a button", "#", class: "btn btn-default"
        =link_to "This is a button", "#", class: "btn btn-default"


  .row
    .col-xs-12
      %h2 Lists

      %p Unstyled list
      %ul.list-unstyled
        %li List item 1
        %li List item 2
        %li List item 3

      %p Unordered list
      %ul
        %li List item 1
        %li List item 2
        %li List item 3

      %p Ordered list
      %ol
        %li List item 1
        %li List item 2
        %li List item 3

  .row
    .col-xs-12
      %h2 Forms
      .form-container
        %form
          %ul.text-danger.list-unstyled
            %li Password is too short (minimum is 8 characters)
          .form-group.row
            %label{for: "user_name", class: 'control-label col-sm-2'} Empty
            .col-sm-6
              %input#user_name{name: "user[name]", type: "text", class: 'form-control'}
          .form-group.row
            %label{for: "user_brand", class: 'control-label col-sm-2'} Focused
            .col-sm-6
              %input#user_brand.focus{name: "user[brand]", type: "text", value: "Focused input field", class: 'form-control'}
          .form-group.row
            %label{for: "user_email", class: 'control-label col-sm-2'} Filled input
            .col-sm-6
              %input#user_email{name: "user[email]", type: "email", value: "Text filled in", class: 'form-control'}
          .form-group.has-error.row
            %label{for: "user_password", class: 'control-label col-sm-2'} Error
            .col-sm-6
              %input#user_password{name: "user[password]", type: "password", class: 'form-control'}
          .form-group.row
            %label{for: "card_no", class: 'control-label col-sm-2'} Card no
            .col-sm-6
              %input.card-number#card_no{name: "user[card_no]", type: "text", value: "", placeholder: "0000 0000 0000 0000", class: 'form-control'}
          .form-group.row
            %label{for: "select", class: 'control-label col-sm-2'} Select box
            .col-sm-3
              %select#select{class: 'form-control'}
                %option Drop down
          .form-group.row
            %label{for: "select_multiple", class: 'control-label col-sm-2'} Select box
            .col-sm-3
              %select#select_multiple{class: 'form-control multiple', multiple: 'true'}
                %option Drop down
                %option Drop down
          %button.btn.btn-default Submit form

= render 'rockstrap/footer'
