.rockstrap-apps-showcase
  padding: 40px 0
  background: #f4f4f4
  text-align: center

  h2
    font-weight: 700
    color: #666

  p.lead
    font-size: 1.3em
    color: #666
    margin-bottom: 30px

  .app
    position: relative
    background: #ccc
    text-align: center
    border-radius: $border-radius-base
    padding-top: 20px
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.2)
    margin-bottom: 20px
    &:hover
      opacity: 0.8

    &.selected
      &:after
        top: 100%
        left: 50%
        border: solid transparent
        content: " "
        height: 0
        width: 0
        position: absolute
        pointer-events: none
        border-color: rgba(136, 183, 213, 0)
        border-top-color: #ccc
        border-width: 20px
        margin-left: -20px

    a
      text-decoration: none
      display: block
      left: 0
      top: 0
      width: 100%
      height: 100%

    strong
      color: #fff
      text-transform: uppercase
      font-weight: 700
      font-size: 1.5em

    .description
      color: #fff
      margin-top: 30px
      padding: 0 20px 60px 20px

    .anchor
      display: block
      background: rgba(0, 0, 0, 0.1)
      padding: 10px 20px
      color: #fff
      position: absolute
      left: 0
      bottom: 3px
      width: 100%
      text-align: right
      border-radius: 0 0 5px 5px
      font-size: 0.7em
      font-weight: 300
      +when-bigger-than-mobile
        font-size: 1em

  .showcase
    background: #ccc
    margin-top: 20px
    margin-bottom: -40px
    display: none

    .app-show-case
      padding: 30px 0
      display: none
      text-align: left
      &.active
        display: block

      h2
        text-transform: uppercase
        font-weight: 800
        margin: 0
        color: #fff
      p.lead
        color: #fff
        font-size: 1.2em
      p
        color: #fff
        font-size: 0.8em
