.rockstrap-footer-links
  padding: 40px 0
  background: #444
  color: #fff
  a
    color: #fff
    display: block
    font-weight: 600
    padding: 5px 0
    +when-bigger-than-mobile
      padding: 0 20px
      display: inline-block
      &:first-child
        padding-left: 0
