.rockstrap-hero-header
  text-align: center
  z-index: 0

  h1
    padding: 60px 0 20px
    color: #fff
    margin: 0
    img
      max-height: 120px

  h2
    margin: 0 0 10px
    color: #fff

  p.lead
    color: #fff

  p.get-access
    padding: 10px 0 30px

  .upcase-header
    color: #fff
    padding: 140px 0 120px

    h1, h2
      text-transform: uppercase

    h1
      padding: 0
      font-weight: 600
      font-size: 3em
      +when-bigger-than-mobile
        font-size: 6em

    h2
      font-weight: 300
      font-size: 1.5em
      opacity: 0.5
      margin: 0

    p.lead
      opacity: 0.5
      padding-top: 20px
      font-weight: 600
      font-size: 2em

    .btn
      background: #fff
      color: #666
      box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2)
      font-size: 1.2em
      text-transform: uppercase
      font-weight: 600
      &:hover
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2)

  .jump-arrow
    font-size: 3em
    color: #fff
