.rockstrap-plain-header
  background: #333
  padding: 10px 30px

  strong
    float: none
    +when-bigger-than-mobile
      float: left
    a
      color: #fff
      font-size: 1.5em
      text-transform: uppercase

  .navigation
    display: block
    line-height: 34px
    +when-bigger-than-mobile
      float: right
    a
      color: #fff
      display: inline-block
      margin-right: 20px
      font-weight: 600
      +when-bigger-than-mobile
        margin-right: 0
        margin-left: 20px
