.rockstrap-powered-by
  padding: 60px 0
  background: #333
  color: #fff
  text-align: center
  .driftrock-logo
    position: relative
    max-width: 200px
    margin: 0 auto
    &:after
      position: absolute
      display: block
      content: 'Powered by'
      right: 0
      top: -15px
      color: #fff
      font-size: 0.8em
      opacity: 0.6
    img
      width: 100%

