.rockstrap-propositions
  text-align: center
  padding: 40px 0

  h2
    font-weight: 700
    color: #666
    margin-bottom: 30px

  .proposition
    padding: 0 20px 20px
    text-align: center
    h3
      font-weight: 600
      font-size: 1.5em
      color: #666
      padding: 0 20px
    p
      font-size: 1.1em
      font-weight: 300
    +when-bigger-than-mobile
      padding: 0 10px
