.rockstrap-signup-bar
  text-align: center
  padding: 40px 0
  background: #eee
  font-size: 0.8em
  +when-bigger-than-mobile
    font-size: 1em
  span.phone
    display: inline-block
    margin-left: 20px
