.rockstrap-static-header
  position: absolute
  top: 0
  background: none
  padding: 30px 30px
  z-index: 99
  width: 100%

  strong
    color: #fff
    font-size: 1.5em
    text-transform: uppercase
    float: none
    +when-bigger-than-mobile
      float: left

  .navigation
    display: block
    +when-bigger-than-mobile
      float: right
    a
      color: #fff
      display: inline-block
      margin-right: 20px
      font-weight: 600
      +when-bigger-than-mobile
        margin-right: 0
        margin-left: 20px
