.text-thin
  font-weight: 300
.text-normal
  font-weight: 500
.text-bold
  font-weight: 600
.text-center
  text-align: center
.text-white
  color: white

.first-title
  font-weight: 500
  font-size: 25px
  margin-bottom: 0.2em
  +when-bigger-than-mobile
    font-size: 60px

.second-title
  font-size: 20px
  font-weight: 300
  margin-bottom: 0.5em
  +when-bigger-than-mobile
    font-size: 36px

.third-title
  font-weight: 700
  font-size: 16px
  margin-bottom: 0.75em
  +when-bigger-than-mobile
    font-size: 20px
