%ul.items
  %li= invite_user_link 'Invite User'
  %li= link_to 'Blog', "#{website_url}/blog"
  %li= link_to 'Support', "#{website_url}/contact"
  %li
    - if respond_to?(:logged_in?) && logged_in?
      = link_to "Sign out", "#{website_url}/sign_out"
    - else
      = link_to "Sign in", "#{website_url}/sign_in"
