%nav.header.clearfix(class="#{yield(:header_classes)}")
  .navbar-header
    %button.navbar-toggle(data-toggle="collapse" data-target="#menu")
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = link_to website_url, class: 'logo' do
      = image_tag "rockstrap/driftrock-logo-white.png", class: 'light'
      = image_tag "rockstrap/driftrock-logo.png", class: 'dark'
    %h2
      &rang;
      = app_name

  #menu.navigation
    = navigation_body

  - if apps_body
    #apps= apps_body
